.personal-info__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info__picture {
    width: 200px;
    border-radius: 50%;
}

.personal-info__name {
    font-size: 2rem;
    color: var(--raisin-black);
    padding: 0.5rem;
}

.personal-info__role {
    color: var(--raisin-black);
    padding: 0.5rem;
}

.personal-info__resume {
    width: 95%;
    text-align: justify;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--raisin-black);
}

@media screen and (max-width: 720px) {
    .personal-info__picture {
        width: 40vw;
    }

    .personal-info__name {
        font-size: 1.6rem;
    }

    .personal-info__role {
        font-size: 0.8rem;
    }
}