.social-media__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 0.5rem;
    gap: 1rem;
}

.social-media__icon {
    width: 2rem;
    opacity: 50%;
}

.social-media__icon:hover {
    opacity: 85%;
    transform: scale(1.3);
    transition: transform 0.2s ease-in-out;
}

@media screen and (max-width: 720px) {
    .social-media__icon {
        opacity: 85%;
    }
}