.presentationCard {
    display: flex;
    align-items: center;
    gap: 1rem;
    &__picture {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 300px;
        border-radius: 50%;
        border: 4px solid var(--titanium-yellow);
        box-shadow: 5px 5px 5px var(--almost-black);
    }
    .info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        color: var(--baby-powder);
        font-size: 2rem;
        &__name {
            color: var(--baby-powder);
            font-size: 3rem;
            font-weight: 700;
        }
        &__role {
            font-size: 3rem;
            font-weight: 700;
            color: var(--titanium-yellow);
        }
        &__description {
            font-size: 1.5rem;
            span {
                color: var(--titanium-yellow);
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .presentationCard {
        flex-direction: column;
        text-align: center;
        &__picture {
            width: 15rem;
        }
        .info {
            &__name {
                font-size: 2.5rem;
            }
            &__role {
                font-size: 2.5rem;
            }
            &__description {
                line-height: 2rem;
            }
        }
    }
}
