.sectionTitle {
    font-size: 2.5rem;
    text-align: center;
    color: var(--baby-powder);
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem 0;
    &:before {
        content: '< ';
        color: var(--titanium-yellow);
    }
    &:after {
        content: ' >';
        color: var(--titanium-yellow);
    }
}