.footer {
    background-color: var(--almost-black);
    text-align: center;
    padding: 1rem;
    &__copyright {
        color: var(--baby-powder);
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 720px) {

    .footer {
        &__copyright {
            font-size: 0.6rem;
        }
    }
}
