.my-projects__container {
    background-color: var(--baby-powder);
    padding: 2rem;
    background-color: var(--minion-yellow);
}

.my-projects__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--raisin-black);
    margin-bottom: 2rem;
}

.my-projects__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.my-projects-card__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    border: 3px solid var(--raisin-black);
    padding: 1rem;
}

.my-projects-card__title {
    font-size: 1.2rem;
    color: var(--raisin-black);
    font-family: 'Press Start 2P', cursive;
}

.my-projects-card__title::before {
    content: '>>';
    margin-right: 0.3rem;
}

.my-projects-card__text {
    color: var(--raisin-black);
}

.my-projects-card__link {
    color: var(--raisin-black);
    text-decoration: none;
    text-align: right;
}

.my-projects-card__link:hover {
    color: var(--baby-powder);
    text-decoration: underline;
}

@media screen and (max-width: 720px) {
    .my-projects__cards {
        grid-template-columns: 1fr;
    }
}