.my-projects__container {
    background-color: var(--baby-powder);
    padding: 2rem;
    background-color: var(--minion-yellow);
}

.my-projects__title {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--raisin-black);
    margin-bottom: 2rem;
}

.my-projects__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media screen and (max-width: 720px) {
    .my-projects__container {
        height: 100%;
        width: auto;
        padding: 1.5rem;
    }

    .my-projects__cards {
        grid-template-columns: 1fr;
    }
}