:root {
    --baby-powder: #FAFDF6;
    --yellow-crayola: #EEEFA8;
    --minion-yellow: #EAE151;
    --titanium-yellow: #DDD92A;
    --raisin-black: #2D2A32;
}

body {
    background-color: var(--baby-powder);
}