@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Press+Start+2P&display=swap');
@import "variables";

:root {
    --baby-powder: #F5F5F5;
    --yellow-crayola: #EEEFA8;
    --minion-yellow: #DDD92A;
    --titanium-yellow: #FFBA08;
    --raisin-black: #1E1E24;
    --almost-black: #080808;

    font-family: 'Monda', sans-serif;
}

body {
    width: 100%;
    background-color: $black;
}

@media screen and (max-width: 720px) {
    body {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }
}