@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Press+Start+2P&display=swap');

:root {
    --baby-powder: #FAFDF6;
    --yellow-crayola: #EEEFA8;
    --minion-yellow: #EAE151;
    --titanium-yellow: #DDD92A;
    --raisin-black: #2D2A32;
    --almost-black: #080808;

    font-family: 'Monda', sans-serif;
}

body {
    background-color: var(--baby-powder);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--raisin-black);
    padding: 1rem;
}

.header__title {
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    color: var(--baby-powder);
    padding: 0.5rem;
}

.navigation__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.navigation__items {
    color: var(--baby-powder);
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5%;
}

.navigation__items:hover {
    background-color: var(--titanium-yellow);
    color: var(--raisin-black);
    transition: background-color 0.5s;
    transition: color 0.2s;
}

.about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--titanium-yellow);
}

.about-me__picture {
    width: 200px;
    border: var(--raisin-black) solid 7px;
    border-radius: 50%;
}

.about-me__title {
    font-size: 2rem;
    color: var(--raisin-black);
    padding: 0.5rem;
}

.about-me__subtitle {
    color: var(--raisin-black);
    padding: 0.5rem;
}

.my-abilities__container {
    background-color: var(--raisin-black);
    padding: 2rem;
}

.my-abilities__title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--baby-powder);
    margin-bottom: 2rem;
}

.my-abilities__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.card {
    width: 80%;
    border: 3px var(--baby-powder) solid;
    padding: 1rem;
}

.card:hover {
    box-shadow: 2px 2px 2px var(--baby-powder);
    transition: box-shadow 0.5s;
}

.card__title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--titanium-yellow);
    margin-bottom: 0.5rem;
}

.card__text {
    color: var(--baby-powder);
    text-align: justify;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid;
}

.card__title-list {
    color: var(--minion-yellow);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.card__list li {
    color: var(--baby-powder);
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
}

.card__list li::before {
    content: '\25A0';
    color: var(--baby-powder);
    margin-right: 0.5rem;
}

.footer__container {
    background-color: var(--raisin-black);
}