@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

:root {
    --baby-powder: #FAFDF6;
    --yellow-crayola: #EEEFA8;
    --minion-yellow: #EAE151;
    --titanium-yellow: #DDD92A;
    --raisin-black: #2D2A32;

    font-family: 'Monda', sans-serif;
}

body {
    background-color: var(--baby-powder);
}

.header__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--raisin-black);
    padding-top: 0.5rem;
}

.header__title {
    font-size: 2rem;
    color: var(--baby-powder);
    padding: 0.5rem;
}

.header__subtitle {
    color: var(--yellow-crayola);
    padding: 0.5rem;
}

.header__space {
    height: 120px;
}

.header__picture {
    position: absolute;
    bottom: -100px;
    width: 200px;
    border: var(--titanium-yellow) solid 7px;
    border-radius: 50%;
}

.header-main__division {
    padding: 0.4rem;
    background-color: var(--titanium-yellow);
}

.footer__container {
    background-color: var(--raisin-black);
}