.abilityCard {
    width: 80%;
    border: 2px var(--baby-powder) solid;
    border-radius: 2rem;
    &__title {
        color: var(--titanium-yellow);
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
    &__description {
        font-size: 1.2rem;
        line-height: 2rem;
        color: var(--baby-powder);
        text-align: justify;
        padding: 0rem 1rem 1rem 1rem;
        margin-bottom: 1rem;
    }
}

.list {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--baby-powder);
    &__title {
        color: var(--titanium-yellow);
        font-weight: 700;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    li {
        color: var(--baby-powder);
        margin-left: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    li::before {
        content: '\25A0';
        color: var(--baby-powder);
        margin-right: 0.5rem;
    }
}

@media screen and (max-width: 720px) {

    .ability-card__title {
        font-size: 1.5rem;
    }

    .ability-card__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .ability-card__list li {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}