.abilityCard {
    width: 80%;
    background-color: var(--almost-black);
    border: 2px solid var(--raisin-black);
    box-shadow: 5px 5px 5px var(--almost-black);
    &__title {
        color: var(--titanium-yellow);
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
    &__description {
        font-size: 1.2rem;
        line-height: 2rem;
        color: var(--baby-powder);
        text-align: justify;
        padding: 1rem 1.5rem;
    }
}

.skills {
    padding: 1rem;
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 0;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        column-rule: solid 10px;
    }
}

.technologies {
    padding: 1rem 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {

    .abilityCard {
        width: 95%;
        text-align: center;
        &__description {
            text-align: center;
        }
    }
}