.abilityCard {
    width: 80%;
    border: 2px var(--baby-powder) solid;
    border-radius: 2rem;
    background-color: var(--almost-black);
    &__title {
        color: var(--titanium-yellow);
        background-color: var(--raisin-black);
        border-radius: 2rem 2rem 0 0;
        border: 1px solid var(--baby-powder);
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        padding: 1rem;
    }
    &__description {
        font-size: 1.2rem;
        line-height: 2rem;
        color: var(--baby-powder);
        text-align: justify;
        padding: 1rem 1.5rem;
    }
}

.skills {
    padding: 1rem;
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem 0;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        column-rule: solid 10px;
    }
}

.technologies {
    padding: 1rem 0;
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {

    .ability-card__title {
        font-size: 1.5rem;
    }

    .ability-card__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .ability-card__list li {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}