.myProjects {
    padding: 2rem;
    &__title {
        font-size: 2rem;
        text-align: center;
        color: var(--raisin-black);
        margin-bottom: 2rem;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width: 720px) {
    .myProjects {
        height: 100%;
        width: auto;
        padding: 1.5rem;
        &__cards {
            grid-template-columns: 1fr;
        }
    }

}