@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&family=Press+Start+2P&display=swap');

:root {
    --baby-powder: #FAFDF6;
    --yellow-crayola: #EEEFA8;
    --minion-yellow: #EAE151;
    --titanium-yellow: #DDD92A;
    --raisin-black: #2D2A32;
    --almost-black: #080808;

    font-family: 'Monda', sans-serif;
}

body {
    width: 100%;
    background-color: var(--baby-powder);
}

@media screen and (max-width: 720px) {
    body {
        width: auto;
        height: 100%;
        margin: 0 auto;
    }
}