.my-abilities__container {
    background-color: var(--raisin-black);
    padding: 2rem;
}

.my-abilities__title {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--baby-powder);
    margin-bottom: 2rem;
    width: 100%;
}


.my-abilities__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1rem;
}

.my-abilities-card__container {
    border: 2px var(--baby-powder) solid;
    box-shadow: 5px 5px 5px var(--almost-black);
    padding: 1rem;
}

.my-abilities-card__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--titanium-yellow);
    margin-bottom: 0.5rem;
}

.my-abilities-card__text {
    color: var(--baby-powder);
    text-align: justify;
    margin-bottom: 1rem;
}

.my-abilities-card__list-container {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--baby-powder);
}

.my-abilities-card__title-list {
    color: var(--minion-yellow);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.my-abilities-card__list li {
    color: var(--baby-powder);
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
}

.my-abilities-card__list li::before {
    content: '\25A0';
    color: var(--baby-powder);
    margin-right: 0.5rem;
}

@media screen and (max-width: 720px) {
 
    .my-abilities__container {
        padding: 1rem;
    }

    .my-abilities__title {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .my-abilities__cards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    
}