.my-abilities-card__progress-level {
    display: grid;
    align-items: center;
}

.progress-bar__container {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    display: flex;
}

.progress-bar__level {
    padding: 0.8rem 1.5rem;
    border: 2px solid var(--baby-powder);
}

.progress-bar__level--active {
    background-color: var(--minion-yellow);
}

.progress-bar__label {
    color: var(--baby-powder);
}