.badge {
    width: 2rem;
    opacity: 50%;
    &:hover {
        opacity: 85%;
        transform: scale(1.3);
        transition: transform 0.2s ease-in-out;
    }
}

@media screen and (max-width: 720px) {
    .badge {
        opacity: 85%;
    }
}
