.sectionAboutMe {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--almost-black);
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text {
            width: 60%;
            text-align: justify;
            font-size: 1rem;
            padding: 0.5rem;
            color: var(--raisin-black);
            line-height: 1.5rem;
        }
        
    }
}

@media screen and (max-width: 720px) {
    .personal-info__picture {
        width: 40vw;
    }

    .personal-info__name {
        font-size: 1.6rem;
    }

    .personal-info__role {
        font-size: 0.8rem;
    }

    .personal-info__resume {
        width: 90%;
    }
}

