.navigation__menu-button--mobile {
    display: none;
}

.navigation__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.navigation__items {
    color: var(--baby-powder);
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5%;
}

.navigation__items:hover {
    background-color: var(--minion-yellow);
    color: var(--raisin-black);
    transition: background-color 0.5s;
    transition: color 0.2s;
}

@media screen and (max-width: 720px) {
    
    .navigation__menu-button--mobile {
        display: inline-block;
        cursor: pointer;
      }
    
    .navigation__container {
        display: none;
    }

    .navigation__container--activated {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .navigation__items {
        border-bottom: 1px solid var(--baby-powder);
    }
}