.technologyFigure {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    &__img {
        width: 64px;
    }
    &__name {
        font-size: 1rem;
        color: var(--baby-powder);
        font-weight: 700;
    }
}

@media screen and (max-width: 720px) {

    .technologyFigure {
        &__img {
            width: 52px;
            padding: 0.5rem;
        }
        &__name {
            display: none;
        }
    }
}