.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    a {
        color: var(--baby-powder);
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
        padding: 0.5rem;
        border-bottom: 2px solid var(--raisin-black);
        &:hover {
            color: var(--minion-yellow);
            border-bottom: 2px solid var(--minion-yellow);
        }
    }
}

@media screen and (max-width: 720px) {
    
    .navigation__menu-button--mobile {
        display: inline-block;
        cursor: pointer;
      }
    
    .navigation__container {
        display: none;
    }

    .navigation__container--activated {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        border: none;
    }

    .navigation__items {
        border-bottom: 1px solid var(--baby-powder);
    }
}